.gamePageContainer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  //   align-items: flex-end;
  justify-content: space-around;
}

.maskedTitle {
  font-size: 6rem;
  letter-spacing: 2rem;
  text-align: center;
  line-height: 10rem;
}

.gameFinish {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.shruggy {
  color: red;
  font-size: 6rem;
  letter-spacing: 2rem;
  text-align: center;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.messageSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.message {
  width: 80%;
  line-height: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 2rem;
}
